.nav-container {
    display: flex;
    height: 60px;
    align-items: center; 
    padding: 10px 20px;
    /* background-color: rgb(0, 56, 12); */
    justify-content: space-between; 
    box-shadow: 0px 5px 7px lightgrey;
  }
  
  .logo-nav-img {
    margin-left: 1%;
    height: 60%;
  }
  
  .links {
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight : bold;
    color:darkgreen;
    margin: 0px 0px 0px 200px;
  }

  .links a {
    text-decoration: none;
  }

  .links a:visited {
    color: inherit;
  }
  
  .links a:active {
    color: teal;
  }
  .links a:hover{
    background-color: rgb(223, 223, 223);
  }
  
  .links > * {
    margin: 10px; /* 각 링크 요소 사이의 오른쪽 여백을 설정합니다. */
  }

  .language-select{
    margin-right: 10px;
  }

  
  /* btn */

  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50; /* 기본 배경색 */
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 7px;
    transition: background-color 0.3s;
    font-weight : bold;
    box-shadow: 0px 2px 5px lightgrey;
}

.button.gradient {
    background-image: linear-gradient(to right, #fbff0094, #1abe43);
}

.button:hover {
  background-color: #45a049; /* 호버시 배경색 */
}